<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Glow Up | MaQuillaje</title>

    <!-- Estilos desde WebJars -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/rutinas.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/jQuery/jQuery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


    <style>
        body {
            background-color: #fff;
            font-family: 'Segoe UI', sans-serif;
        }
        .navbar {
            border-bottom: 1px solid #ddd;
        }
        .category-title {
            color: #D6A84D;
            font-weight: bold;
        }
        .product-card {
            border: 1px solid #eee;
            padding: 10px;
            text-align: center;
            height: 100%;
        }
        .product-price {
            color: #D6A84D;
            font-weight: 500;
        }
        .sidebar {
            border-right: 1px solid #eee;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/fav/favicon-96x96.png" alt="Glow Up" height="40">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" th:href="@{/maquillaje}">Maquillaje</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Skincare</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cabello</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
            </ul>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-outline-dark me-2">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a href="#" class="btn btn-warning text-white">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</nav>

<!-- Contenido principal -->
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-2 sidebar">
            <h5 class="category-title">Maquillaje</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none">Bases</a></li>
                <li><a href="#" class="text-decoration-none">Paletas</a></li>
                <li><a href="#" class="text-decoration-none">Rubores e iluminadores</a></li>
                <li><a href="#" class="text-decoration-none">Delineadores</a></li>
                <li><a href="#" class="text-decoration-none">Cejas y Pestañas</a></li>
            </ul>
        </div>

        <!-- Productos -->
        <div class="col-md-10">
            <h4 class="category-title mb-4">Productos de Maquillaje</h4>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                <!-- Producto 1 -->
                <div class="col">
                    <div class="product-card">
                        <img src="/fav/NARS_resized.jpg" alt="NARS" class="img-fluid mb-2">
                        <p><strong>NARS</strong><br>Soft Matte Complete</p>
                        <p class="product-price">Precio ₡7 800</p>
                    </div>
                </div>

                <!-- Producto 2 -->
                <div class="col">
                    <div class="product-card">
                        <img src="/fav/infalibleLoreal_resized.png" alt="L'OREAL" class="img-fluid mb-2">
                        <p><strong>L'OREAL</strong><br>Infallible</p>
                        <p class="product-price">Precio ₡6 995</p>
                    </div>
                </div>

                <!-- Producto 3 -->
                <div class="col">
                    <div class="product-card">
                        <img src="/fav/Maybelline_resized.jpg" alt="Maybelline Fit Me" class="img-fluid mb-2">
                        <p><strong>MAYBELLINE</strong><br>Fit Me! Oil control</p>
                        <p class="product-price">Precio ₡9 730</p>
                    </div>
                </div>
                <!-- Producto 4 -->
                <div class="col">
                    <div class="product-card">
                        <img src="/fav/maybelline-superstay_resized.jpg" alt="Maybelline Super Stay" class="img-fluid mb-2">
                        <p><strong>MAYBELLINE</strong><br>Super Stay</p>
                        <p class="product-price">Precio ₡12 560</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
